module "myapp" {
  source = "./module-sample"
  mdc = ""
  vlan = ""
  vmtype = ""
  server_cpu = ""
  server_ram = ""
  size_b = ""
  size_c = ""
  size_d = ""
  size_e = ""
  size_f = ""
  convertToMB = ""
  cluster_name = ""
  size_a = ""
}
