module "myapp" {
  source = "./module-sample"
  mdc = "Filled by stackforms"
  vlan = "Filled by stackforms"
  vmtype = "Filled by stackforms"
  server_cpu = "Filled by stackforms"
  server_ram = "Filled by stackforms"
  size_b = "Filled by stackforms"
  size_c = "Filled by stackforms"
  size_d = "Filled by stackforms"
  size_e = "Filled by stackforms"
  size_f = "Filled by stackforms"
  convertToMB = "Filled by stackforms"
  cluster_name = "Filled by stackforms"
  size_a = "Filled by stackforms"
}
